$skin-black: #000;
$skin-white: #fff;
$skin-white-alpha: rgba(255, 255, 255, .5);

$skin-light-gray: #eaeaea;
$skin-soft-gray: #ccc;


$skin-main-blue: #164194;
$skin-main-blue-alpha: rgba(14, 65, 148, .85);
$skin-link-color: #cc0b10;

$skin-error-red: #e74c3c;
$skin-success-green: #16a085;
